.idea
.venv

*.csv
*.pkl
*.pth
*.json*
__pycache__

**/_*/
#**/*models/
**/runs/
**/figures/
**/*data*/
**/artifacts/
**/wandb/
**/results/
*.env
/stylegan2-ada-pytorch-main
/stylegan3
/stylegan2-ada-pytorch
